body {background-color:black;color:white;}
div {background-color:#003366;color:white;}
.nav {background-color:#003366;color:white;padding:50px;}
.navbutton {background-color:#003366,color:white;border-radius:4px;border-color:none;padding:40px; text-decoration:none;}
.navbutton:hover {background-color:blue;transition-duration:0.4s;}
