html,body {
        margin: 0;
        padding:0;
        box-sizing: border-box;
        font-size: 16px;
        height: 100%;
}
html {
    scroll-behavior: smooth;
}
#main-panel {
    width:75%;
    background-color:#4d4d4d;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
body {
    background:url(old/clouds-bg.png);
	background-size: auto;
    background-color: darkgray;
}
.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    text-align: center;
}
.app-image {
    width:50px;
    
}
.app-image:hover {
    width:50px;
    transform: scale(1.5);
}
.project-bg {
    background-color: white;
    color: black;
    width:350px;
    height:350px;
    margin: 20px;
}
.project-bg:hover {
    animation-name:project-bg-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    margin: 20px;
}
.social-icon {
    width:200px;
    margin:20px;
}
.banner {
    width:100%;
}
.navbar {
    background-color:#2d2d2d;
    margin-left:auto;
    margin-right:auto;
    margin-top:-5px;
    padding:5px;
}
.navbar-button
{
margin:2px;
padding:3px;
font-weight:400;
border:0px solid white;
border-radius:3px;
color:white;
text-decoration:none;
white-space:nowrap;
line-height:28px;
background-color:#2d2d2d;
}
.navbar-button:hover
{
background-color:#4d4d4d;
text-decoration:none;
}


.autoWidth {
    width:auto;
}

